// Duffle import style frameworks
// ---------------------------------------

$fa-font-path: "../fonts" !default;
@import "../../../../node_modules/font-awesome/scss/font-awesome.scss";
@import "paper.scss";
@import "../../../../node_modules/foundation-sites/scss/normalize.scss";
//
// foundation (all)
// @import "../../../../node_modules/foundation-sites/scss/foundation.scss";
//
// foundation (modular)
@import "../../../../node_modules/foundation-sites/scss/foundation/components/grid.scss";
@import "../../../../node_modules/foundation-sites/scss/foundation/components/block-grid.scss";
// @import "../../../../node_modules/foundation-sites/scss/foundation/components/buttons.scss";
@import "../../../../node_modules/foundation-sites/scss/foundation/components/inline-lists.scss";
// @import "../../../../node_modules/foundation-sites/scss/foundation/components/top-bar.scss";
@import "../../../../node_modules/foundation-sites/scss/foundation/components/type.scss";
@import "../../../../node_modules/foundation-sites/scss/foundation/components/offcanvas.scss";
@import "../../../../node_modules/foundation-sites/scss/foundation/components/visibility.scss";


// Duffle and CNAB palette
// ---------------------------------------
// core colors
$navy:  #3731AA;
$red: #E83683;
$green: #2EC4B6;
$yellow: #CCFF66;
// accent colors
$bluel: #D3DDF7;
$yellowl: #FFF3E6;


// Fonts
// ---------------------------------------
@font-face {
  font-family: 'work_sansregular';
  src: url('../fonts/worksans-regular-webfont.eot');
  src: url('../fonts/worksans-regular-webfont.eot?#iefix') format("embedded-opentype"),
       url('../fonts/worksans-regular-webfont.woff') format('woff'),
       url('../fonts/worksans-regular-webfont.ttf') format('truetype'),
       url('../fonts/worksans-regular-webfont.svg#f310d4dccd89e059e79d3b6deebb4725') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'work_sanssemibold';
  src: url('../fonts/worksans-semibold-webfont.woff2') format('woff2'),
       url('../fonts/worksans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: 600;
  letter-spacing: 0.35rem;
}

$work: 'work_sansregular', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
$workbold: 'work_sanssemibold', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;


// Mixins
// ---------------------------------------
@mixin transition($property:all, $duration:0.3s, $easing:ease-in-out) {
  transition: $property $duration $easing;
}

@mixin border-radius($radius1:3px, $radius2:3px) {
  -webkit-border-radius: $radius1 $radius2 $radius1 $radius2;
  -moz-border-radius: $radius1 $radius2 $radius1 $radius2;
  border-radius: $radius1 $radius2 $radius1 $radius2;
}

@mixin box-shadow($xlength:0, $ylength:2px, $size:0, $color:rgba(30,30,30,0.25)) {
  -webkit-box-shadow: $xlength $ylength $size $color;
  -moz-box-shadow: $xlength $ylength $size $color;
  box-shadow: $xlength $ylength $size $color;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin corner($corner: 0.5rem, $cornertop: -1rem, $cornerleft: -1rem, $cornerbottom: auto, $cornerright: auto) {
  width: $corner;
  height: ($corner * 4);
  display: inline-block;
  content: "";
  background-color: $navy;
  position: absolute;
  left: $cornerleft;
  top: $cornertop;
  bottom: $cornerbottom;
  right: $cornerright;
}

@mixin ripple($color: $navy) {
  position: relative;
  display: inline-block;
  text-align: center;
  @include transition;
  
  &::after {
    position: absolute; 
    bottom: -4px;
    left: 45%;
    width: 10%;
    height: 4px;
    display: inline-block;
    content: "";
    opacity: 0;
    background-color: $color;
    @include transition;
  }

  &:hover::after {
    width: 100%;
    opacity: 1;
    left: 0;
    bottom: 0;
  }
}

@mixin wipe($color: $green) {
  position: relative;
  display: inline-block;
  overflow: hidden;
  @include transition;
  
  &::after {
    position: absolute; 
    left: -20%;
    top: 125%;
    width: 200%;
    height: 150%;
    display: inline-block;
    background-blend-mode: overlay;
    content: "";
    opacity: 0;
    background-color: $color !important;
    transform: rotate(-15deg);
    z-index: -10;
    @include transition;
  }

  &:hover {
    color: white;
    background-color: transparent !important;
  }

  &:hover::after {
    opacity: 1;
    top: 0%;
    transform: rotate(0deg);
  }
}


// Duffle General
// ---------------------------------------
html,
body {
  height: auto;
}
.off-canvas-wrap {  
  overflow-y: auto;
  min-height: 100%;
}

html,
body,
.off-canvas-wrap,
.inner-wrap,
.main,
.height-full {
  min-height: 100vh !important;
}

body.list {
  padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6,
.post-title {
  font-family: $workbold;
  color: $navy;
}

.row {
  max-width: 70rem;
}

.row-full {
  max-width: 100%;
}

.height-full {
  min-height: 100%;
}


// Typographic Scale
// ---------------------------------------
$base-font:  18px;                 // 18 - p

$base-xxxlg: ($base-font * 4.775); // 96
$base-xxlg:  ($base-font * 2.4);   // 48
$base-xlg:   ($base-font * 1.8);   // 36 - h3
$base-lg:    ($base-font * 1.2);   // 24 - h4, p.lead
$base-sm:    ($base-font * 0.875); // 18 - small

body {
  line-height: 1.7256;
  font-size: $base-font;
  font-family: $work;
  color: $navy;
}

h1 {
  font-size: $base-xxxlg;
}

h2 {
  font-size: $base-xxlg;
}

h3 {
  font-size: $base-xlg;
}

h4,
p.lead,
.subhead {
  font-size: $base-lg;
}

p {
  font-size: $base-font;
  padding-right: 7.5%;
  max-width: 720px;
}

small {
  font-size: $base-sm;
}


// Duffle Nav
// ---------------------------------------
.list .header {
  padding-left: 0;
  padding-right: 0;
  min-height: 5rem;
  background: transparent;
  border-bottom: 2px solid transparent;
  @include transition;

  &:hover {
    border-bottom: 2px solid rgba(255,255,255,0.125);
  }
  
  h1 {
    text-indent: -999em;
    position: absolute;
  }
 
  img.logo {
    max-height: 75px;
    max-width: 200px;
    display: inline-block;
    z-index: 350;
  }

  nav {
    ul.menu-desktop {

      li {
        margin: 0 1.25rem;
      }

      a {
        font-family: $workbold;
        color: $navy;
        padding: 1.75rem 0rem;
        margin: 0;
        @include ripple;
      }

      .fa {
        font-size: $base-lg;
      }
    }
  }

  .menu-toggle {
    float: right;
    width: 3rem;
    padding: 2.25rem 1.5rem;

    &::before,
    &::after {
      background: $navy;
    }

  }
}

// mobile breadcrumb menu
nav.menu {
  @include transition;
}

body.list.noscroll {

  .header .menu-toggle {
    z-index: 1200;
  }
  
  nav.menu ul {
    background-color: white;
    z-index: 1050;
    margin: 0;
    list-style: none;

    li {
      a {
        font-size: $base-xlg;
        line-height: 3;
        color: $navy;

        @include ripple;
      }
    }
  }
}


// Duffle Sections
// ---------------------------------------
html {
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(249,249,249,1) 70%) no-repeat;
  min-height: 100%;
}
body.list {
  background:
    url('../img/intro-bg.png') no-repeat center top,
    url('../img/intro-bg-wide-tile.png') no-repeat center top;
  overflow-x: hidden;
}

#intro {
  padding-top: 15rem;
  z-index: -10;
  min-height: 53rem !important;
  position: relative;
  z-index: 520;

  h1.duffle-wordmark {
    img {
      max-height: 40px;
    }
  }

  .duffle-logo {
    width: 11rem;
    height: 11rem;
    position: absolute;
    top: -3rem;
    left: 100%;
    margin-left: 11.75rem;
    background-color: rgba(212, 230, 254, 0.25);
    background-blend-mode: screen;
    text-align: center;
    z-index: 850;
    @include box-shadow(0, 0.2rem, 4px, rgba(30,30,30,0.1));
    @include border-radius(50%, 50%);
    @include transition;
      
    img {
      max-width: 7.5rem;
      margin: 1.5rem auto 2rem;
      @include transition;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.333);
      @include box-shadow(0, 0, 7px, rgba(30,30,30,0.3));

      img {
        margin-top: 1.35rem;
      }
    }

    &:after {
      width: 2px;
      height: 12rem;
      content: " ";
      position: absolute;
      top: 11.5rem;
      left: 49.5%;
      z-index: 300;
      background-color: lighten($bluel, 7.5%);
    }
  }

  h2 {
    padding-right: 12.5%;
    color: darken($navy, 7.5%);
    margin: 2.75rem 0 4rem;
  }

  p.subhead {
    a {
      @include transition;
      @include ripple;
    }

  }
  
  small {
    display: block;
  }

  .cnab-info {
    position: relative;
    padding-top: 22rem;
    min-height: 34rem;
    display: inline-block;
    width: 100%;
    z-index: 700;

    img.cnab-logo {
      position: absolute;
      max-width: 5.5rem;
      right: 2.5rem;
      top: 21.5rem;
    }

    p {
      font-family: $workbold;
      color: $green;
      position: absolute;
      display: inline-block;
      right: -1.5rem;
      bottom: 0rem;
      width: 10rem;
      line-height: 1.35;

      em {
        font-style: normal;
        display: inline !important;
      }
    }

    a:hover {
      span i.fa {
        padding-left: 0.25rem;
        @include transition;
      }
    }

    &:after {
      min-width: 100vh;
      min-height: 34rem;
      content: " ";
      position: absolute;
      top: 5rem;
      right: 0;
      margin-right: -6.67vh;
      display: inline-block;
      background: url(../img/cnab-triangle.svg) no-repeat right bottom;
      z-index: -10;
    }
  }

  .button {
    margin: 1em auto;
    background: $navy;
    font-family: $workbold;
    padding: 1.333rem 2.825rem;
    display: inline-block;
    color: white;
    border-radius: 5em;
    border: none;
    position: relative;
    z-index: 1020;
    @include transition;
    @include box-shadow(0,2px,14px,rgba(0,0,0,0.02));
  
    &:hover {
      background: darken($navy, 12.5%);
      color: white;
      opacity: 0.95;
    }
  }
}


#features {
  padding-top: 7.5rem;
  padding-bottom: 5rem;

  h3 {
    margin: 3rem 0;
  }

  $content-height: 16rem; 

  .tabs {
    width: 100%;
    min-height: $content-height;
    position: relative;
  }
  
  .tab-height {
    min-height: 4rem;
  }
  
  .tab {
    display: none;
  }
  
  .tab-button {
    margin: 0;
    padding: 0.75rem 1rem 0.75rem 2.825rem;  
    display: block;
    position: relative;
    width: 33.333%;
    color: $navy;
    border: 1px solid transparent;
    cursor: pointer;
    @include border-radius(.25rem, .25rem);
    @extend .tab-height;
    @include transition;

    &:before,
    &:after {
      content: " ";
      display: inline-block;
      width: 0.25rem;
      height: 3rem;
      position: absolute;
      top: 1.15rem;
      left: 0.833rem;
      background: lighten($bluel, 5%);
      @include transition;
    }

    &:before {
      @include border-radius(0.67rem, 0.67rem);
      width: 0.67rem;
      height: 0.67rem;
    }

    &:after {
      top: 2.125rem;
      left: 1rem;
      height: auto;
      bottom: 1rem;
    }

    h3 {
      font-size: $base-font;
      margin: 0 0 0.5rem;
    }

    p {
      font-size: $base-sm;
      line-height: 1.4;
      margin: 0;
    }

    &:hover,
    &.active,
    &:active  {
      background: lighten($bluel, 9.5%) !important;
      border: 1px solid $bluel !important;

      &:before,
      &:after {
        background-color: darken($bluel, 5%);
      }
    }
  }

  input[type="radio"]:checked + label {
    background: lighten($bluel, 7.5%) !important;
    border: 1px solid $bluel !important;

    &:before {
      background-color: $green;
    }

    &:after {
      background-color: darken($bluel, 5%);
    }
  }

  .docs-link {
    position: absolute;
    bottom: -3.25rem;
    padding: 0 0 0 3rem;
    color: $green;

    &:before {
      @include border-radius(0.67rem, 0.67rem);
      @include transition;
      content: " ";
      display: inline-block;
      width: 0.67rem;
      height: 0.67rem;
      position: absolute;
      top: 0.6rem;
      left: 0.833rem;
      color: $bluel;
      background: lighten($bluel, 5%);
    }
  }
  
  .display {
    margin: 0;
    padding:  0;
    display: none;
    position: absolute;
    top: 0;
    right: -1rem;
    width: calc(100% - 33.333%);
    height: 32rem;
    overflow-y: scroll;
    @include border-radius(.25rem, .25rem);
    background: linear-gradient(to bottom right, rgb(240, 244, 251) 0%, rgb(223, 232, 246) 80%);
  }

  .code-wrap {
    padding: 0rem 2rem 1rem;

    p {
      margin: 1rem 0;
      padding: 0;
      display: block;
      position: relative;
      height: auto;
      color: lighten(desaturate($navy, 20%), 15%);
      font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: $base-sm;
      line-height: 1.6;

      strong {
        font-weight: 400;
        color: darken($navy, 7.5%);
        margin-top: 2rem;
        display: block;
      }
    }

    i {
      font-style: normal;
      color: $green;
      font-family: $workbold;
    }
  }
  
  #tab--1:checked ~ #tab-button--1,
  #tab--2:checked ~ #tab-button--2,
  #tab--3:checked ~ #tab-button--3,
  #tab--4:checked ~ #tab-button--4 {
    color: $navy;
  }
  #tab--1:checked ~ #display--1,
  #tab--2:checked ~ #display--2,
  #tab--3:checked ~ #display--3,
  #tab--4:checked ~ #display--4 {
    display: block;
  }
}


#credits {
  padding-top: 8rem;
  padding-bottom: 15rem;

  h4 {
    margin-bottom: 2rem;
  }
  
  h3, p {
    color: $navy;
    position: relative;
  }

  img {
    max-width: 25%;
    margin: 0 5%;
  }
}

.sep {
  &::before,
  &::after {
    content: " ";
    display: inline-block;
    height: 2px;
    width: 50%;
    background: rgba(0,0,0,0.025);
    top: 1.25rem;
  }
}

.sep-sides {
  &::before,
  &::after {
    width: 44%;
    top: 1.25rem;
    position: absolute;
  }

  &::before {
    left: -10%;
  }

  &::after {
    right: -10%;
  }
}

#footer {
  background-color: white;
  border-top: 2px solid rgba(0,0,0,0.05);
  position: relative;
  min-height: 5.5rem;

  .deislabs {
    width: 5.5rem;
    height: 7.3rem;
    display: inline-block;
    position: absolute;
    top: -4rem;

    span {
      background: url(../img/deislabs.svg) no-repeat center bottom;
      width: 100%;
      height: 3rem;
      background-size: contain;
      display: inline-block;
      text-indent: -999em;
      position: absolute;
      bottom: 0;
      @include transition;
    }

    em {
      width: 3rem;
      height: 3rem;
      display: inline-block;
      position: absolute;
      background-blend-mode: multiply;
      mix-blend-mode: multiply;
      content: " ";
      @include transition(all, 0.3s, ease-in-out);
      
      &.dl-tr {
        background: url(../img/deislabs-tr.svg) no-repeat 50% 50%;
        background-size: contain;
        left: 0;
        top: 0;
      }

      &.dl-sq {
        background: url(../img/deislabs-sq.svg) no-repeat 50% 50%;
        background-size: contain;
        right: 0;
        bottom: 1.8rem;
      }

      &.dl-ci {
        background: url(../img/deislabs-ci.svg) no-repeat 50% 50%;
        background-size: contain;
        left: 0;
        bottom: 1.8rem;
      }
    }

    & + p {
      padding: 0 0 0 6rem;
    }

    a {
      display: inline-block;
      width: 5.5rem;
      height: 7.3rem;

      &:hover {
        em {
          &.dl-tr {
            left: 2.2rem;
            top: 2.5rem;
          }
          &.dl-sq {
            right: 2.5rem;
          }
          &.dl-ci {
            bottom: 4.2rem;
          }
        }
      }
    }
  }

  p {
    margin: 0.125rem 0;
  }

  .fa {
    font-size: $base-lg;
    margin-top: 2rem;
    color: #333;
  }
}


// Media Queries
// ---------------------------------------
// mobile
@media screen and (max-width: 1024px) {

  .row,
  .row-full {
    width: 95% !important;
    padding-left: 2.5% !important;
    padding-right: 2.5% !important;

    .row,
    .row-full {
      width: 100%;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  body.list {
    background-size: 120vh;
    background-position-x: 30%;
  }
  
  #intro {
    padding-top: 7.25rem;

    h2 {
      padding-right: 0;
      margin: 2rem 0 2rem;
      font-size: $base-xlg;
    }

    .cnab-info {
      padding-top: 2.5rem;
      min-height: 6.5rem;
      margin-top: 2.5rem;
      background-color: $yellowl;
      z-index: 100;
      position: relative;

      img.cnab-logo {
        top: 1.5rem;
        right: 3.5%;
        left: auto;
        max-width: 3.33rem;
      }

      p {
        right: auto;
        left: 5%;
        min-width: 70%;
        top: auto;
        bottom: auto;
        margin: 0;
        color: darken($green, 5%);
      }

      &:after {
        top: auto;
        bottom: -1.5rem;
        right: -7.5%;
        min-width: 50%;
        min-height: 18rem;
        z-index: -10;
        position: absolute;
        background-size: contain;
      }
    }
  }

  #credits {
    padding-bottom: 5rem;
    
    img {
      min-width: 300px;
      margin: 1.5rem 2.5%;
    }
  }

  #footer.row-full {
    width: 100% !important;
    padding: 0 !important;
    min-height: 5.5rem;

    .deislabs {
      width: 4.5rem;
      height: 7rem;
      margin-left: 4%;

      a {

        em {
          width: 2.5rem;
        }
      }

      &:hover {
        em {
          &.dl-tr {
            left: auto;
            right: 0;
            top: 2.2rem;
          }
          &.dl-sq {
            left: 0;
            right: auto;
          }
          &.dl-ci {
            bottom: auto;
            top: 0;
          }
        }
      }
    }
  }

  #intro small, .corner, #intro .duffle-logo:after {
    display: none !important;
  }
}