{{ partial "header.html" . }}

    <div id="intro" class="row">
      <div class="small-12 large-8 columns">
        
        <h1 class="duffle-wordmark">
          <img src="{{.Site.BaseURL}}img/logo-wordmark.svg" title="Duffle" class="duffle-wordmark" />
        </h1>

        <a href="https://github.com/deislabs/duffle" title="Duffle" class="duffle-logo">
          <img src="{{.Site.BaseURL}}img/logo.png" title="Duffle" />
        </a>
        
        <h2 style="margin-bottom:2.5rem">Nothing here.</h2>
        
        <p class="subhead">Error 404 - check your address or <a href="https://duffle.sh">go back to the homepage</a>.</p>
          
      </div>
    </div>

{{ partial "footer.html" . }}
