{{ partial "header.html" . }}

    <div id="intro" class="row">
      <div class="small-12 large-6 columns">
        
        <h1 class="duffle-wordmark">
          <img src="{{.Site.BaseURL}}/img/logo-wordmark.svg" title="Duffle" class="duffle-wordmark" />
        </h1>

        <a href="https://github.com/deislabs/duffle" title="Duffle" class="duffle-logo">
          <img src="{{.Site.BaseURL}}/img/logo.png" title="Duffle" />
        </a>
        
        <h2>Install and manage distributed app bundles.</h2>
        
        <p class="subhead">Duffle is a simple command line tool that interacts with Cloud-Native Application Bundles (<a href="https://cnab.io">CNABs</a>) - helping you package and unpackage distributed apps for deployment on whatever cloud platforms and services you use.</p>

        <a class="button primary" href="https://github.com/deislabs/duffle">Get Duffle</a>
          
      </div>

      <div class="small-12 large-6 columns">
        <a href="https://cnab.io/">
          <img src="{{.Site.BaseURL}}/img/cnab-icon.png" title="CNAB" class="cnab-logo" />
          CNAB
        </a>
      </div>
    </div>

    <div class="height-full" id="features">
      <div class="row row-full">
        <div class="small-12 large-offset-2 large-8 end columns">
          <h3 class="text-center">Features:</h3>
        </div>
      </div>
            
      <div class="row row-full">

      </div>
    </div> <!-- / features -->
    
    <div class="row row-full" id="credits">
      <div class="small-12 large-10 large-centered columns">
        <h3 class="text-center sep sep-sides">Brought to you by:</h3>

        <div class="text-center">
          <a><img src="../img/logo-azure.png" /></a>
          <a><img src="../img/logo-docker.png" /></a>
        </div>
        <br>
        <div class="sep"></div>
      </div>
    </div>

{{ partial "footer.html" . }}
